#top-menu {
	float:left;
	margin-bottom:1em;
	line-height:1;
}
#top-menu li {
}
#top-menu li li {
	background-image:none;
}

#nav, #top-menu ul{
margin:0;
padding:0;
list-style-type:none;
list-style-position:outside;
position:relative;
}

#top-menu a{
	display: block;
	padding: 16px 20px 0;
	text-decoration: none;
	color: #fff;
	text-decoration :none;
	height: 34px;
}
#top-menu li li a {
	padding:0.75em 1em;
}

#top-menu li:hover, #top-menu li.sfHover, #top-menu li:hover a,
#top-menu a:focus, #top-menu a:hover, #top-menu a:active {
/*	background:	#fcff79; */
	outline: 0;
	color: #000;
	cursor: pointer;
}
#top-menu li li a:hover {
	background:		#000;
	color:			#FFF;
}
#top-menu a span {
	float:right;
}
#top-menu li{
float:left;
position:relative;
}

#top-menu ul {
position:absolute;
display:none;
width:12em;
top:50px;
}

#top-menu li ul a{
width:12em;
height:auto;
float:left;
}

#top-menu ul ul{
top:auto;
}	

#top-menu li ul ul {
left:13em;
margin:0px 0 0 12px;
}

#top-menu li:hover ul ul, #top-menu li:hover ul ul ul, #top-menu li:hover ul ul ul ul{
display:none;
}
#top-menu li:hover ul, #top-menu li li:hover ul, #top-menu li li li:hover ul, #top-menu li li li li:hover ul{
display:block;
}
#top-menu a {
	position:relative;
}
#top-menu a span {
	position:absolute;
	right:1em;
	top:0.75em;
}